@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-image: linear-gradient(aqua, aquamarine);
    font-family: 'Roboto', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100svh;
    overflow: hidden;
}

.search {
    position: relative;
    height: 2rem;
}

.search .input {
    background-color: white;
    border: 0;
    border-radius: 0.5rem;
    font-size: 1rem;
    height: 2rem;
    width: 2rem;
    transition: width 0.4s ease;
}

.search button {
    background-color: white;
    position: absolute;
    cursor: pointer;
    border: 0;
    border-radius: 0.5rem;
    top: 0;
    left: 0;
    height: 2rem;
    width: 2rem;
    font-size: 1rem;
    transition: transform 0.4s ease;
}

.search input:focus {
    outline: none;
}

.search.active .input {
    width: 8rem;
}

.search.active button {
    transform: translateX(8.2rem);
}